{% extends 'schedule/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<br>
<h2 style="text-align:center;">O aplikacji</h2>


<div class="container" style="max-width:1200px;">
    <hr>
    <br>
    <br>
<h1 class="text-center"> Aplikacja do organizowania szkoleń dla pracowników </h1>
    <br>
<h2 class="text-center"> Projekt zespołowy na zlecenie Comarch</h2>
    <br><br><hr><br>
<h4> Autorzy: </h4>
    <br>
    <ul>
    <li> Tomek N. [lider]</li>
    <li> Bartek K. </li>
    <li> Michał R. </li>
    <li> Bartek Ż. </li>
    </ul>
    <br>
    <hr>
    <br>
    <a href="https://github.com/nadrowskyy/organize-application"><h4>Oficjalne repozytorium projektu</a></h4>
<br><hr><br>
    <p style="text-align: center">
        Całość prezentowanej strony internetowej stanowi własność ww. autorów i jest utworem w rozumieniu ustawy
        z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (Dz. U. Nr 90, poz. 631). Żadna jej część nie
        może być rozpowszechniana lub kopiowana w jakikolwiek sposób bez zgody autorów.
    </p>

    <p style="text-align: center">
        W naszym serwisie umieszczone są łącza (linki) do innych serwisów internetowych. Informujemy, że nie ponosimy
        żadnej odpowiedzialności za treści zawarte w innych serwisach.
    </p>
<br><hr>
    <p style="text-align: center">
        The entire website is the property of the above-mentioned authors and it is regulated by Polish law -
        [ Ustawa z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (Dz. U. Nr 90, poz. 631) ].
        Replicating and sharing the source code is strictly prohibited without the consent of the authors.
    </p>

    <p style="text-align: center">
        We are not responsible for the content of links to external sources posted on the website.
    </p>
    <hr>
    <p style="text-align: center">
        © 2021
    </p>

</div>
</body>
</html>
{% endblock %}



