
{% load static %}
{% load auth_extras %}

<!doctype html>
<html lang="pl">



<head>
	<title>FFT - Food For Thought</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  <body>
  {% include 'schedule/navbar.html' %}

  {% if user.is_authenticated %}
        <div class="header"> <p>Zalogowany jako <b>{{request.user}}</b></p> </div>
  {% endif %}

{% block content %}
{% endblock %}

    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>



  </body>
</html>


