{% extends 'schedule/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Utwórz spotkanie</title>
</head>

<body>

<br>
<h2 style="text-align:center;">UTWÓRZ SPOTKANIE</h2>
<br>

<div class="container" style="max-width:800px;">

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="radio" onchange="hideB(this)" name="publish" id="radio_publish" checked value="True">
    <label for="radio_publish">Publikuj</label>
    <input type="radio" onchange="hideA(this)" name="publish" id="radio_draft" value="False">
    <label for="radio_draft">Szkic</label>
    <div class="form-group">
        <label for="title">Temat spotkania</label>
        <input class="form-control" id="title" name="title" placeholder="Wpisz temat spotkania" required type="text">
    </div>

    <div class="form-group">
        <label for="description">Opis spotkania</label>
        <textarea class="form-control" id="description" name="description" placeholder="Opisz spotkanie" required rows="4"></textarea>
    </div>

    <div class="form-group">
        <label for="link">Link do spotkania</label>
        <input class="form-control" id="link" name="link" placeholder="Dodaj link do spotkania" type="text">
    </div>

    <div class="form-group">

        <label for="organizer">Organizator</label><br>
            <select class="selectOrganizer" id="organizer" name="organizer" style="width: 100%;">
                {% for i in fullnames %}
                <option value="{{i.id}}">{{i.first_name}} {{i.last_name}} ({{i.email}})</option>
                {% endfor %}
md
            </select>
    </div>

    <div class="row">
    <div id="planning_date_div" class="col-md-12 col-lg-6">
      <label for="planning_date">Data i godzina rozpoczęcia</label>
        <input class="form-control" id="planning_date" min="{% now 'Y-m-d\TH:i' %}" name="planning_date" required type="datetime-local"
               value="{% now 'Y-m-d\TH:i' %}">
    </div>
    <div class="col-md-12 col-lg-6">
     <label for="duration">Czas trwania (min.)</label>
        <input class="form-control" id="duration" min="1" name="duration" placeholder="1" required type="number">
    </div>
  </div>
<br>
    <div id="poll" style="display:none;">

        <div class="row">
        <div class="col-md-12 col-lg-6">
            <label for="poll_avaible_since">Od kiedy ankieta ma być dostępna</label>
                <input class="form-control" id="poll_avaible_since" min="{% now 'Y-m-d\TH:i' %}" name="poll_avaible_since" type="datetime-local">
        </div>
        <div class="col-md-12 col-lg-6">
        <label for="poll_avaible">Czas dostępności ankiety (dni)</label>
            <input class="form-control" id="poll_avaible" min="1" name="poll_avaible" placeholder="1" type="number">
        </div>
        </div>

        <div id="plan_container" class="row">
        <div class="col-md-12 col-lg-6">
            <label for="planning_date_draft_1">Data i godzina rozpoczęcia</label>
            <input class="form-control" id="planning_date_draft_1" min="{% now 'Y-m-d\TH:i' %}" name="planning_date_draft" type="datetime-local"
                       value="{% now 'Y-m-d\TH:i' %}">
        </div>
        <div class="col-md-12 col-lg-6">
            <input class="form-control" min="{% now 'Y-m-d\TH:i' %}" name="planning_date_draft" type="datetime-local"
                       value="{% now 'Y-m-d\TH:i' %}">
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <button id="add_date" class="btn btn-secondary" style="font-family: 'Oswald', sans-serif;" type="button">Dodaj termin</button>
            </div>
        </div>
            ANKIETA - od kiedy trwa, do kiedy trwa
            jeśli szkolenie jest szkicem to tylko tytuł pola i prowadzący są required, zwrócić uwagę na pola required
            pod kątem bezpieczeństwa - weryfikacja powinna przebiegać w backendzie a NIE frontendzie

            https://mdbootstrap.com/snippets/jquery/mateusz-lubianka/1877753?action=forum_snippet#html-tab-view
        </div>

    <div class="row">
    <div class="col-md-12 col-lg-6">
    <div class="form-group">
        <div class="form-group files">
            <label>Prześlij ikonę</label>
            <input accept="image/*" id="id_icon" name="icon" type="file">
        </div>
    </div>
    </div>

    <div class="col-md-12 col-lg-6">
    <div class="form-group">
              <div class="form-group files">
                <label>Prześlij załącznik</label>
                <input accept="application/pdf" id="id_attachment" name="attachment" type="file">
              </div>
    </div>
    </div>
    </div>
    <center><button class="btn btn-secondary" style="width:20%;font-family: 'Oswald', sans-serif;" type="submit">Utwórz</button></center>

</form>
</div>




    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
<script>

    $(document).ready(function() {
    $('.selectOrganizer').select2();
    $('#add_date').click(function () {
       $('#plan_container').append('<div class="col-md-12 col-lg-6"> <input class="form-control" name="planning_date_draft" type="datetime-local"><button class="remove_date btn btn-secondary" style="font-family: \'Oswald\', sans-serif;" type="button">USUN</button></div>')
    });
    });

</script>

<script>
    function hideA(x) {
   if (x.checked) {
     document.getElementById("poll").style.display = "block";
     document.getElementById("planning_date_div").style.display = "none";
   }
        $('#radio_publish').prop('checked',false);
     $('#radio_draft').prop('checked',true);
   $('#description').prop('required',false);
   $('#duration').prop('required',false);
   $('#planning_date').prop('required',false);
 }

 function hideB(x) {
   if (x.checked) {
     document.getElementById("poll").style.display = "none";
     document.getElementById("planning_date_div").style.display = "inline-block";

   }
   $('#description').prop('required',true);
   $('#duration').prop('required',true);
   $('#planning_date').prop('required',true);
 }

 $(document).on('click', '.remove_date', function () {
     $(this).closest('div').remove();
 });
</script>


</body>
</html>

{% endblock %}