{% extends 'schedule/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Utwórz szkolenie</title>
</head>

<body>

<br>
<h2 style="text-align:center;">UTWÓRZ SZKOLENIE</h2>
<br>

<div class="container" style="max-width:800px;">

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="radio" onchange="hideB(this)" name="publish" id="radio_publish" checked value="True">
    <label for="radio_publish">Publikuj</label>
    <input type="radio" onchange="hideA(this)" name="publish" id="radio_draft" value="False">
    <label for="radio_draft">Szkic</label>
    <br><br>
    <div class="form-group">
        <label for="title">Temat szkolenia</label>
        <input class="form-control" id="title" name="title" placeholder="Wpisz temat szkolenia" required type="text" max="200">
    </div>

    <div class="form-group">
        <label>Opis szkolenia</label>
        <textarea class="form-control" name="description" id="description" placeholder="Opisz szkolenie" required rows="4" maxlength="1000"></textarea>
    </div>

    <div class="form-group">
        <label for="link">Lokalizacja szkolenia (miejsce lub link)</label>
        <input class="form-control" id="link" name="link" placeholder="Podaj lokalizację szkolenia" type="text">
    </div>

    <div class="form-group">

        <label for="organizer">Organizator</label><br>
            <select class="selectOrganizer" id="organizer" name="organizer" style="width: 100%;">
                {% for i in fullnames %}
                <option value="{{i.id}}">{{i.first_name}} {{i.last_name}} ({{i.email}})</option>
                {% endfor %}
md
            </select>
    </div>

    <div class="row">
    <div class="col-md-12 col-lg-6">
      <label for="planning_date">Data i godzina rozpoczęcia</label>
        <input class="form-control" id="planning_date" min="{% now 'Y-m-d\TH:i' %}" name="planning_date" type="datetime-local"
               value="{% now 'Y-m-d\TH:i' %}" required>
    </div>
    <div class="col-md-12 col-lg-6">
     <label for="duration">Czas trwania (min.)</label>
        <input class="form-control" id="duration" min="1" name="duration" placeholder="1" type="number" required>
    </div>
  </div>
<br>

    <div id="poll" style="display:none;">
        <div class="card h-200">
	<div class="card-body">
    <div class="row">
            <div class="col-md-12 col-lg-6">
                <label>Czy ankieta ma być aktywna?</label><br>
                    <input  id="active_true" onchange="pollReqB(this)" name="if_active" type="radio" value="True">
                    <label  for="active_true">Tak</label>
                    <input  id="active_false" onchange="pollReqA(this)" name="if_active" type="radio" value="False" checked>
                    <label  for="active_false">Nie</label>
                <br><br>
            </div>

        </div>
        <div class="row">
        <div class="col-md-12 col-lg-6">
            <label for="poll_avaible_since">Od kiedy ankieta ma być dostępna</label>
                <input class="form-control" id="poll_avaible_since" min="{% now 'Y-m-d\TH:i' %}" name="poll_avaible_since" type="date">
        </div>
        <div class="col-md-12 col-lg-6">
        <label for="poll_avaible">Do kiedy ankieta ma być dostępna</label>
            <input class="form-control" id="poll_avaible" name="poll_avaible" type="date">
            <br>
        </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
               <br>
                TERMINY: &nbsp; &nbsp;
                <button id="add_date" class="btn btn-secondary" style="font-family: 'Oswald', sans-serif;" type="button">Dodaj termin</button>
            </div>
        </div>
        <br>
        <div class="row">
            {% for message in messages %}
                <errormsg>{{ message }}</errormsg>
            {% endfor %}
        </div>
        <div class="card h-200">
	    <div class="card-body">

        <div id="plan_container" class="row">

        </div>
        </div>
        </div>

    </div>
    </div>


        </div>
    <br>
    <div class="row">
    <div class="col-md-12 col-lg-6">
    <div class="form-group">
        <div class="form-group files">
            <label>Prześlij ikonę</label>
            <input accept="image/*" id="id_icon" name="icon" type="file">
        </div>
    </div>
    </div>

    <div class="col-md-12 col-lg-6">
    <div class="form-group">
              <div class="form-group files">
                <label>Prześlij załącznik</label>
                <input accept="application/pdf" id="id_attachment" name="attachment" type="file">
              </div>
    </div>
    </div>
    </div>
    <center><button class="btn btn-secondary" style="width:20%;font-family: 'Oswald', sans-serif;" type="submit">Utwórz</button></center>
    <br>
</form>
</div>




    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
<script>

    $(document).ready(function() {
    $('.selectOrganizer').select2();
    $('#add_date').click(function () {
       $('#plan_container').append('<div class="col-md-12 col-lg-6"> <input class="form-control" name="planning_date_draft" type="datetime-local" required><button class="remove_date btn btn-secondary" style="font-family: \'Oswald\', sans-serif;" type="button">Usuń termin</button><br><br></div>')
    });
    });

</script>

<script>
    function hideA(x) {
   if (x.checked) {
     document.getElementById("poll").style.display = "block";
     //document.getElementById("planning_date_div").style.display = "none";
   }
        $('#radio_publish').prop('checked',false);
     $('#radio_draft').prop('checked',true);
   $('#description').prop('required',false);
   $('#duration').prop('required',false);
   $('#planning_date').prop('required',false);
 }

 function hideB(x) {
   if (x.checked) {
     document.getElementById("poll").style.display = "none";
     //document.getElementById("planning_date_div").style.display = "inline-block";

   }
   $('#description').prop('required',true);
   $('#duration').prop('required',true);
   $('#planning_date').prop('required',true);
 }

     function pollReqA(x) {
   $('#poll_avaible_since').prop('required',false);
   $('#poll_avaible').prop('required',false);
   $('#planning_date_draft_1').prop('required',false);
   $('#planning_date_draft_2').prop('required',false);
 }

 function pollReqB(x) {
   $('#poll_avaible').prop('required',true);
   $('#poll_avaible_since').prop('required',true);
   $('#planning_date_draft_1').prop('required',true);
   $('#planning_date_draft_2').prop('required',true);

 }

 $(document).on('click', '.remove_date', function () {
     $(this).closest('div').remove();
 });
</script>


</body>
</html>

{% endblock %}