{% extends 'schedule/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ustawienia klienta poczty</title>



</head>

<body>

<div class="container col-5" style="max-width:400px;">

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="form-group">
		<label for="email_host">Nazwa hosta:</label>
		<input class="form-control" id="email_host" name="email_host" required type="text" value="{{ settings.EMAIL_HOST }}">
    </div>

    <div class="form-group">
		<label for="username">Użytkownik:</label>
		<input class="form-control" id="username" name="username" placeholder="Użytkownik" required type="text" value="{{ settings.EMAIL_HOST_USER }}">
	</div>

    <div class="form-group">
		<label for="password">Hasło:</label>
		<input class="form-control" id="password" name="password" placeholder="Hasło" required type="text" value="{{ settings.EMAIL_HOST_PASSWORD }}">
    </div>

	<div class="form-group">
      	<label for="port">Port:</label>
		<input class="form-control" id="port" name="port" placeholder="Numer portu" required type="number" value="{{ settings.EMAIL_PORT }}">
	</div>
	<div class="form-group">
     	<label>Używaj TLS</label><br>
		<input  id="tls_true" name="if_tls" type="radio" {% if settings.EMAIL_USE_TLS == 1 %} checked {% endif %} value="True">
		<label  for="tls_true">Tak</label>
		<input  id="tls_false" name="if_tls" type="radio" {% if settings.EMAIL_USE_TLS == 0 %} checked {% endif %} value="False">
		<label  for="tls_false">Nie</label>
	</div>
	<div class="form-group">
		<label for="delay_leader">Wyprzedzenie powiadomień dla organizatora (dni):</label>
		<input class="form-control" id="delay_leader" name="delay_leader" required type="number" value="{{ settings.delay_leader }}">
	</div>
	<div class="form-group">
		<label for="delay_all">Wyprzedzenie powiadomień dla wszystkich użytkowników (dni):</label>
		<input class="form-control" id="delay_all" name="delay_all" required type="number" value="{{ settings.delay_all }}">
	</div>

  </div>
<br>

    <center><button class="btn btn-secondary" style="width:20%;font-family: 'Oswald', sans-serif;" type="submit">Aktualizuj</button></center>

</form>
</div>


</body>
</html>

{% endblock %}
