{% extends 'schedule/base.html' %}
{% load static %}

{% block content %}
    <center>
    <h2>LISTA EVENTÓW</h2>
    </center>
    <br/><br/>

<div class="row">
    {% for i in list %}
        {% if i in upcoming_events %}
            <div class="col-lg-2">
                    <p style="text-align:center;"><img class="squared" src="/media/{{i.icon}}" alt="" width="140" height="140"></p>
                <center>
                    <h5><p style="color:#c3a26d">{{i.title}}</p></h5>
                    <h6>{{i.planning_date|date:"d.m.Y H:i"}} ({{i.planning_date|date:"l"}})</h6>
                    <h6>Prowadzi: {{i.organizer.first_name}} {{i.organizer.last_name}}</h6>
                     <p style="text-align:center;"><a class="btn btn-secondary" href="#" role="button">Szczegóły »</a></p>
                </center>
            </div>
        {% else %}
            <div class="col-lg-2">
                <p style="text-align:center;"><img class="squared" src="/media/{{i.icon}}" alt="" width="140" height="140"></p>
                <center>
                    <h5><p style="color:black">[{{i.title}}]</p></h5>
                    <h6>{{i.planning_date|date:"d.m.Y H:i"}} ({{i.planning_date|date:"l"}})</h6>
                    <h6>Prowadzi: {{i.organizer.first_name}} {{i.organizer.last_name}}</h6>
                     <p style="text-align:center;"><a class="btn btn-secondary" href="#" role="button">Szczegóły »</a></p>
                </center>
            </div>
        {% endif %}
    {% endfor %}
</div>



<center>
{% if list.has_previous %}
    <a href="{% url 'events_list' %}?page={{list.previous_page_number}}">Poprzednia strona</a>
{% endif %}

{% if list.has_next %}
    <a href="{% url 'events_list' %}?page={{list.next_page_number}}">Następna strona</a>
{% endif %}
</center>

{% endblock %}