{% extends "schedule/base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <h1>Resetowanie hasła</h1>
    {% if validlink %}
        <p>Wprowadź nowe hasło (dwa razy):</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <p>Łącze pozwalające na resetowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już wcześniej
            użyte. Musisz ponownie rozpocząć procedurę resetowania hasła.</p>
    {% endif %}
{% endblock %}