{% extends "schedule/base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <br>
    <h2 style="text-align:center;">Resetowanie hasła</h2>
    <br>
    <div class="container col-5" style="max-width:400px;">
    {% if validlink %}
        <p>Wprowadź nowe hasło (dwa razy):</p>
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
            {{ field.help_text }}
            {{ field.label }}:
            <p>{{ field }}</p>
            {% endfor %}
            <center>
            <button class="btn btn-secondary" style="width:50%;font-family: 'Oswald', sans-serif;"
            type="submit">Zmień hasło</button>
            </center>
        </form>
    {% else %}
        <p>Łącze pozwalające na resetowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już wcześniej
            użyte. Musisz ponownie rozpocząć procedurę resetowania hasła.</p>
    {% endif %}
    </div>
{% endblock %}