{% load static %}

{% block content %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Rejestracja</title>
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

<main class="form-signin">
  <form method="POST" action="">
      {% csrf_token %}
    <a href="{% url 'home' %}"><img class="mb-4" src="{% static 'images/logo-light2.png' %}" href="{% url 'home' %}" alt=""></a>
    <h2>Zarejestruj się</h2>
    <br>
    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="Login" required>
      <label for="username">Login</label>
        <errormsg>{{ form.username.errors }}</errormsg>
    </div>
      <br>
          <div class="form-floating">
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Imię" required>
      <label for="username">Imię</label>
        <errormsg>{{ form.first_name.errors }}</errormsg>
    </div>
      <br>
          <div class="form-floating">
      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Nazwisko" required>
      <label for="username">Nazwisko</label>
        <errormsg>{{ form.last_name.errors }}</errormsg>
    </div>
      <br>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocusout="validateEmail()" required>
          <div id="validationServer03Feedback" class="invalid-feedback">
      Wprowadź poprawny adres e-mail, zawierający suffix comarch.pl lub comarch.com
    </div>
      <label for="email">Email</label>
        <errormsg>{{ form.email.errors }}</errormsg>
        {% for message in messages %}
        <errormsg>{{ message }}</errormsg>
        {% endfor %}
    </div>
      <br>
    <div class="form-floating">
      <input type="password" class="form-control" id="password1" name="password1" placeholder="Hasło" required minlength="8">
      <label for="password1">Hasło</label>
        <errormsg>{{ form.password1.errors }}</errormsg>
    </div>
      <br>
    <div class="form-floating">
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Powtórz hasło" onfocusout="matchPassword()" required minlength="8">
      <label for="password2">Powtórz hasło</label>
      <div id="validationServer04Feedback" class="invalid-feedback">
      Wprowadzone hasła nie są takie same
    </div>
        <errormsg>{{ form.password2.errors }}</errormsg>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" style="font-family: 'Oswald', sans-serif;" type="submit" id="submitButton">Zarejestruj</button>

    <p class="mt-5 mb-3 text-muted">&copy; SchedulerApp 2021</p>
  </form>
</main>

<script>
  function matchPassword() {
    var password1 = document.getElementById("password1").value;
    var password2 = document.getElementById("password2").value;

    if(password1 !== password2)
    {
      document.getElementById('submitButton').disabled = true;
      document.getElementById('password1').classList.add("is-invalid");
      document.getElementById('password2').classList.add("is-invalid");
    } else {
      document.getElementById('submitButton').disabled = false;
      document.getElementById('password1').classList.remove("is-invalid");
      document.getElementById('password2').classList.remove("is-invalid");
    }
  }

  function validateEmail() {
   var email =  document.getElementById('email').value;

   email = email.toString();

   if (/^([A-Za-z0-9_\-\.])+\@([gmail|comarch])+\.(com|pl)$/.test(email)) {
     document.getElementById('submitButton').disabled = false;
     document.getElementById('email').classList.remove("is-invalid");
   }
   else {
     document.getElementById('submitButton').disabled = true;
     document.getElementById('email').classList.add("is-invalid");
   }


  }
</script>

</body>
</html>

{% endblock %}