
{% extends 'schedule/base.html' %}
{% load static %}
{% load auth_extras %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Lista tematów</title>


</head>


<body>
<br>
<h2 style="text-align:center;">LISTA TEMATÓW</h2>

<br>

{% for message in messages %}
    <errormsg style="text-align:center;">{{ message }}</errormsg><br><br>
{% endfor %}

<div class="container" style="max-width:1000px;">

{% if not list %}
    <br>
    <errormsg>Nie znaleziono tematów</errormsg>
{% endif %}


{% for i in list %}
<div class="card">
    <h4 class="card-header">{{i.title}}
    {% if request.user|has_group:"admin" %}
    &nbsp;
    <a href="{% url 'subject_edit' i.id %}"><img src="{% static 'images/icons/edit.png' %}" style="text-align:right; width:25px; height:25px;"></a>
    &nbsp;
    <a href="{% url 'delete_subject' i.id %}" onclick="return confirm('Czy na pewno chcesz usunąć temat {{i.title}}? Operacji nie będzie można cofnąć!');"><img src="{% static 'images/icons/delete.png' %}" style="text-align:right; width:25px; height:25px;"></a>
    {% endif %}
    </h4>

    <br>
        <h5 class="card-text" id="">Opis: {{ i.description }}</h5>

    <div class="container" style="max-width:500px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">

        {% if user.is_authenticated %}

        <div style="font-family: 'Oswald', sans-serif;">
        <button class="like btn like_btn " data-id={{i.id}} data-action="{% if request.user in i.likes.all %}un{% endif %}like">
            <span class="like_text">{% if request.user not in i.likes.all %}
            Podoba mi się
            {% else %}
            Nie podoba mi się
            {% endif %}&nbsp;&nbsp;&nbsp;</span>
            <span class="like_count">{{i.like_count}}</span>
        </button>

        </div>

        </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">

          <button class="lead btn lead_btn" data-id={{i.id}} data-action="{% if request.user in i.likes.all %}un{% endif %}lead">
              <span class="lead_text">{% if request.user not in i.want_to_lead.all %}
              Chcę poprowadzić
              {% else %}
              Nie chcę prowadzić
              {% endif %}&nbsp;&nbsp;&nbsp;</span>
              <span class="lead_count">{{i.lead_count}}</span>
          </button>

          {% endif %}


{% if request.user|has_group:"admin" and i.lead_count > 0 %}
<a data-toggle="modal" data-target="#exampleModalLong{{forloop.counter}}"><img src="{% static 'images/icons/details.png' %}" style="width:25px; height:auto; padding-top: 5px;"></a>





<div class="modal fade" id="exampleModalLong{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lista chętnych ({{i.lead_count}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <br>
        {% for j in i.want_to_lead.all %}
        {% for k in cnt %}
        {% if k.user == i.proposer %}
          <a class="h6" href="{% url 'user_details' j.id %}"> {{ j.first_name }} {{ j.last_name }} ({{ j.email }})</a> <br>

          <p class="font-italic" style="color: gray;">
              &emsp; Zaproponowanych tematów: {{ k.subjects }} <br>
              &emsp; Prowadzonych szkolen: {{ k.events }}
          </p>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:20%;font-family: 'Oswald', sans-serif;">Zamknij</button>
      </div>
    </div>
  </div>
</div>





{% endif %}

          <br><br>

          </div>

    </div>

      </div>

    </div>
        <br>

{% endfor %}

    <div class="d-flex justify-content-center">
      <ul class="pagination">
          {% if list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'subjects_list' %}?page={{list.previous_page_number}}">Poprzednia strona</a>
        </li>
          <li class="page-item"><a class="page-link" href="{% url 'subjects_list' %}?page={{list.previous_page_number}}">{{list.previous_page_number}}</a></li>
          {% endif %}
          {% if list %}
        <li class="page-item active">
          <a class="page-link disabled" href="#">{{list.number}} <span class="sr-only">{{list.number}}</span></a>
        </li>
          {% endif %}
          {% if list.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'subjects_list' %}?page={{list.next_page_number}}">{{list.next_page_number}}</a></li>
        <li class="page-item">
          <a class="page-link" href="{% url 'subjects_list' %}?page={{list.next_page_number}}" type="submit" id="next_page">Następna strona</a>
        </li>
          {% endif %}
      </ul>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.datatables.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $(document).ready(function(){
        $('button.like').click(function (e) {
            var postid = $(this).attr('data-id');
            var action = $(this).attr('data-action');
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "ajax_like" %}',
                data: {
                    postid: postid,
                    action: action,
                },
                context: this,
                success: function(json) {
                    $(this).find('.like_count').get(0).innerHTML = json['like_count']
                    $(this).attr('data-action',json['action'])
                    if (json['action'] === 'unlike') {
                        $(this).find('.like_text').get(0).innerHTML = 'Podoba mi się'
                    }
                    else {
                        $(this).find('.like_text').get(0).innerHTML = 'Nie podoba mi się'
                    }
                },
                error: function(xhr, errmsg, err) {}
            });
        });

        $('button.lead').click(function (e) {
            var postid = $(this).attr('data-id');
            var action = $(this).attr('data-action');
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "ajax_lead" %}',
                data: {
                    postid: postid,
                    action: action,
                },
                context: this,
                success: function(json) {
                    $(this).find('.lead_count').get(0).innerHTML = json['lead_count']
                    $(this).attr('data-action',json['action'])
                    if (json['action'] === 'unlead') {
                        $(this).find('.lead_text').get(0).innerHTML = 'Chcę poprowadzić'
                    }
                    else {
                        $(this).find('.lead_text').get(0).innerHTML = 'Nie chcę prowadzić'
                    }
                },
                error: function(xhr, errmsg, err) {}
            });
        });
    });
  </script>

{% endblock %}
</body>