
{% extends 'schedule/base.html' %}
{% load static %}
{% load auth_extras %}
{% block content %}


<head xmlns="http://www.w3.org/1999/html">

    <script>

    let params = new URLSearchParams(document.location.search.substring(1));
    url = window.location.href;

    if (params.has('s_sort_by') && params.get('s_sort_by') !== sessionStorage.getItem("s_sort_by")) {
        var last_sorting_order = params.get('s_sort_by');
        sessionStorage.setItem("s_sort_by", last_sorting_order);
    }
    else if (!params.has('s_sort_by') && sessionStorage.getItem("s_sort_by") != null) {

        if (params.get('s_sort_by') !== sessionStorage.getItem("s_sort_by")) {

            if (url.indexOf('?') > -1) {
                    url += '&s_sort_by=' + sessionStorage.getItem("s_sort_by")
            }
            else {
                    url += '?s_sort_by=' + sessionStorage.getItem("s_sort_by")
            }
        }
    }

    if (params.has('s_title') && params.get('s_title') !== sessionStorage.getItem("s_title")) {
        var last_s_title = params.get('s_title');
        sessionStorage.setItem("s_title", last_s_title);
    } else if (!params.has('s_title') && sessionStorage.getItem("s_title") != null) {

        if (params.get('s_title') !== sessionStorage.getItem("s_title")) {

            if (url.indexOf('?') > -1) {
                    url += '&s_title=' + sessionStorage.getItem("s_title")
            }
            else {
                    url += '?s_title=' + sessionStorage.getItem("s_title")
            }
        }
    }

    if ( url !== window.location.href ) {
        window.location.href = url;
    }

  </script>



</head>




<body>

<div class="container">
    <br>
    <center><h2>LISTA TEMATÓW</h2></center>

    <div class="container">
        <hr>
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
            <form method="GET" action="">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" style="font-family: 'Oswald', sans-serif;" id="sortowanie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sortowanie</button>
        <div class="dropdown-menu" aria-labelledby="sortowanie">
            <form method="GET" action="">
                <button class="dropdown-item" type="submit" name="s_sort_by" id="sort_alphabetical" value="alphabetical">Alfabetycznie</button>
                <button class="dropdown-item" type="submit" name="s_sort_by" id="sort_create_date" value="create_date">Data utworzenia</button>
                <button class="dropdown-item" type="submit" name="s_sort_by" id="sort_like_count" value="like_count">Polubienia rosnąco</button>
                <button class="dropdown-item" type="submit" name="s_sort_by" id="sort_like_count-" value="like_count-">Polubienia malejąco</button>
                <button class="dropdown-item" type="submit" name="s_sort_by" id="sort_lead_count" value="lead_count">Chętni rosnąco</button>
                <button class="dropdown-item" type="submit" name="s_sort_by" id="sort_lead_count-" value="lead_count-">Chętni malejąco</button>
            </form>
        </div>
    </div>
        </div>

        <div style="border-left:1px solid lightgray;height:50px;"></div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <form method="GET" action="">
        <input type="text" class="form-control" style="margin-top: 4px;" name="s_title" id="s_title" placeholder="Wyszukaj temat">
    </div>



        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <a class="btn btn-secondary" style="font-family: Oswald;" onclick="flush()">Resetuj</a>
            <button type="submit" class="btn btn-secondary" style="font-family: Oswald;">Szukaj</button>
        </form>
        </div>
    </div>
        <hr>
    </div>

    </div>

        </div>

</div>

    </div>


{% for message in messages %}
    <errormsg style="text-align:center;">{{ message }}</errormsg><br><br>
{% endfor %}

<div class="container" style="max-width:1000px;">

{% if not list %}
    <br>
    <errormsg>Nie znaleziono tematów</errormsg>
{% endif %}


{% for i in list %}
<div class="card">
    <h4 class="card-header">{{i.title}}
    {% if request.user|has_group:"admin" %}
    &nbsp;
    <a href="{% url 'subject_edit' i.id %}"><img src="{% static 'images/icons/edit.png' %}" style="text-align:right; width:25px; height:25px;"></a>
    &nbsp;
    <a href="{% url 'delete_subject' i.id %}" onclick="return confirm('Czy na pewno chcesz usunąć temat {{i.title}}? Operacji nie będzie można cofnąć!');"><img src="{% static 'images/icons/delete.png' %}" style="text-align:right; width:25px; height:25px;"></a>
    {% endif %}
    </h4>

    <br>
        <h5 class="card-text" id="">Opis: {{ i.description }}</h5>

    <div class="container" style="max-width:500px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">

        {% if user.is_authenticated %}

        <div style="font-family: 'Oswald', sans-serif;">
        <button class="like btn like_btn" data-id={{i.id}} data-action="{% if request.user in i.likes.all %}un{% endif %}like" id="like_btn{{i.id}}">
            <span class="like_text">
            {% if request.user not in i.likes.all %}
                Podoba mi się
                <script>$(document).ready(function () { document.getElementById('like_btn{{i.id}}').classList.remove('active'); });</script>
            {% else %}
                Nie podoba mi się
                <script>$(document).ready(function () { document.getElementById('like_btn{{i.id}}').classList.add('active'); });</script>
            {% endif %}&nbsp;&nbsp;&nbsp;</span>
            <span class="like_count">{{i.like_count}}</span>
        </button>

        </div>

        </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">

          <button class="lead btn lead_btn" data-id={{i.id}} data-action="{% if request.user in i.likes.all %}un{% endif %}lead" id="lead_btn{{i.id}}">
              <span class="lead_text">
              {% if request.user not in i.want_to_lead.all %}
                Chcę poprowadzić
                  <script>$(document).ready(function () { document.getElementById('lead_btn{{i.id}}').classList.remove('active'); });</script>
              {% else %}
                Nie chcę prowadzić
                  <script>$(document).ready(function () { document.getElementById('lead_btn{{i.id}}').classList.add('active'); });</script>
              {% endif %}&nbsp;&nbsp;&nbsp;</span>
              <span class="lead_count">{{i.lead_count}}</span>
          </button>

          {% endif %}


{% if request.user|has_group:"admin" and i.lead_count > 0 %}
<a data-toggle="modal" data-target="#exampleModalLong{{forloop.counter}}"><img src="{% static 'images/icons/details.png' %}" style="width:25px; height:auto; padding-top: 5px;"></a>





<div class="modal fade" id="exampleModalLong{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lista chętnych ({{i.lead_count}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <br>
        {% for j in i.want_to_lead.all %}
          <a class="h6" href="{% url 'user_details' j.id %}"> {{ j.first_name }} {{ j.last_name }} ({{ j.email }})</a> <br>
        {% for k in cnt %}
          {% if k.user == j %}
          <p class="font-italic" style="color: gray;">
              &emsp; Zaproponowanych tematów: {{ k.subjects }} <br>
              &emsp; Prowadzonych szkolen: {{ k.events }}
          </p>
          {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:20%;font-family: 'Oswald', sans-serif;">Zamknij</button>
      </div>
    </div>
  </div>
</div>





{% endif %}

          <br><br>

          </div>

    </div>

      </div>

    </div>
        <br>

{% endfor %}

    <div class="d-flex justify-content-center">
      <ul class="pagination">
          {% if list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'subjects_list' %}?page={{list.previous_page_number}}">Poprzednia strona</a>
        </li>
          <li class="page-item"><a class="page-link" href="{% url 'subjects_list' %}?page={{list.previous_page_number}}">{{list.previous_page_number}}</a></li>
          {% endif %}
          {% if list.number > 1 %}
        <li class="page-item active">
          <a class="page-link disabled" href="#">{{list.number}} <span class="sr-only">{{list.number}}</span></a>
        </li>
          {% endif %}
          {% if list.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'subjects_list' %}?page={{list.next_page_number}}">{{list.next_page_number}}</a></li>
        <li class="page-item">
          <a class="page-link" href="{% url 'subjects_list' %}?page={{list.next_page_number}}" type="submit" id="next_page">Następna strona</a>
        </li>
          {% endif %}
      </ul>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.datatables.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $(document).ready(function(){
        $('button.like').click(function (e) {
            var postid = $(this).attr('data-id');
            var action = $(this).attr('data-action');
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "ajax_like" %}',
                data: {
                    postid: postid,
                    action: action,
                },
                context: this,
                success: function(json) {
                    $(this).find('.like_count').get(0).innerHTML = json['like_count']
                    $(this).attr('data-action',json['action'])
                    if (json['action'] === 'unlike') {
                        $(this).find('.like_text').get(0).innerHTML = 'Podoba mi się'
                        document.getElementById('like_btn'+postid).classList.remove('active');
                    }
                    else {
                        $(this).find('.like_text').get(0).innerHTML = 'Nie podoba mi się'
                        document.getElementById('like_btn'+postid).classList.add('active');
                    }
                },
                error: function(xhr, errmsg, err) {}
            });
        });

        $('button.lead').click(function (e) {
            var postid = $(this).attr('data-id');
            var action = $(this).attr('data-action');
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "ajax_lead" %}',
                data: {
                    postid: postid,
                    action: action,
                },
                context: this,
                success: function(json) {
                    $(this).find('.lead_count').get(0).innerHTML = json['lead_count']
                    $(this).attr('data-action',json['action'])
                    if (json['action'] === 'unlead') {
                        $(this).find('.lead_text').get(0).innerHTML = 'Chcę poprowadzić'
                        document.getElementById('lead_btn'+postid).classList.remove('active');
                    }
                    else {
                        $(this).find('.lead_text').get(0).innerHTML = 'Nie chcę prowadzić'
                        document.getElementById('lead_btn'+postid).classList.add('active');
                    }
                },
                error: function(xhr, errmsg, err) {}
            });
        });
    });
</script>


<script>


    if (params.has('s_sort_by')) {

        var current = sessionStorage.getItem("s_sort_by")

        if (current === "alphabetical")
        {
            $("#sort_alphabetical").addClass("active");
        }
        else if (current === "like_count")
        {
            $("#sort_like_count").addClass("active");
        }
        else if (current === "like_count-")
        {
            $("#sort_like_count-").addClass("active");
        }
        else if (current === "lead_count")
        {
            $("#sort_lead_count").addClass("active");
        }
        else if (current === "lead_count-")
        {
            $("#sort_lead_count-").addClass("active");
        }

    }
    else {
        $("#sort_create_date").addClass("active");
    }
</script>

<script>

    var el = document.getElementById("sortowanie")

    if (params.has('s_sort_by')) {

        var current = sessionStorage.getItem("s_sort_by")

        if (current === "alphabetical") {
            $("#sort_alphabetical").addClass("active");
            el.firstChild.data = "Alfabetycznie";
        } else if (current === "like_count") {
            $("#sort_like_count").addClass("active");
            el.firstChild.data = "Polubienia rosnąco";
        } else if (current === "like_count-") {
            $("#sort_like_count-").addClass("active");
            el.firstChild.data = "Polubienia malejąco";
        } else if (current === "lead_count") {
            $("#sort_lead_count").addClass("active");
            el.firstChild.data = "Chętni rosnąco";
        } else if (current === "lead_count-") {
            $("#sort_lead_count-").addClass("active");
            el.firstChild.data = "Chętni malejąco";
        } else if (current === "create_date"){
            $("#sort_create_date").addClass("active");
            el.firstChild.data = "Data utworzenia";
    }
    }
    else {
        $("#sort_create_date").addClass("active");
        el.firstChild.data = "Data utworzenia";
    }

</script>

<script>

    // WYPEŁNIANIE ELEMENTÓW FORMULARZA, JEŚLI SĄ WŁĄCZONE FILTRY

    $( document ).ready(function () {
        if (params.has('s_title')) {
            let element = document.getElementById('s_title');
            element.value = params.get('s_title')
        }
    });

</script>



<script>

    function flush() {
        sessionStorage.clear();

        let s_title = document.getElementById('s_title');
        s_title.value = null;

        $('select').val('').trigger('change.select2');

        window.location.href =  window.location.href.split("?")[0];
    }


</script>

{% endblock %}
</body>