
{% extends 'schedule/base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Lista tematów</title>


</head>


<body>
<br>
<h2 style="text-align:center;">LISTA TEMATÓW</h2>

<br>

{% for message in messages %}
    <errormsg style="text-align:center;">{{ message }}</errormsg><br><br>
{% endfor %}

<div class="container" style="max-width:1000px;">


{% for i in all_subjects_list %}
<div class="card">
    <h4 class="card-header">{{i.title}}</h4>
    <br>
        <h5 class="card-text" id="like_count">Opis: {{ i.description }}</h5>

    <div class="container" style="max-width:500px;">
    <div class="row">
        <div class="col-lg-6">
        <form action="{% url 'like'%}" method="POST" class="ui form">
            {% csrf_token %}
        <input type="hidden" name="subject_id" value="{{i.id}}" />
        <div style="font-family: 'Oswald', sans-serif;">
        <button class="btn like_btn" value = {{i.id}}>
            <div style="font-family: 'Oswald', sans-serif;">Podoba mi się!&nbsp;&nbsp;&nbsp;<span>{{i.like_count}}</span>
        </button>

<!--    OPCJA WYSZARZONA / NIEAKTYWNA

        <button class="btn like_btn disabled" value = {{i.id}} disabled>
            <div style="font-family: 'Oswald', sans-serif;">Podoba mi się!&nbsp;&nbsp;&nbsp;<span>{{i.like_count}}</span>
        </button>-->

        </div>

        </form>
        </div>
          <div class="col-lg-6">
          <form action="{% url 'want_to_lead'%}" method="POST" class="ui form">

            {% csrf_token %}
              <input type="hidden" name="leader_id" value="{{i.id}}" />
          <button class="btn lead_btn" value = {{i.id}}>
              Chcę poprowadzić to szkolenie&nbsp;&nbsp;&nbsp;<span>{{i.lead_count}}</span>
          </button>
          <br><br>

<!--      OPCJA WYSZARZONA / NIEAKTYWNA

          <button class="btn lead_btn disabled" value = {{i.id}} disabled>
              Zgłoszono do prowadzenia tego szkolenia
          </button>-->

          </div>
          </form>
    </div>
      </div>
    </div>

        <br>


<!--          <div class="card-footer text-muted">-->
<!--            Zaproponował: {{ i.proposer }}-->
<!--          </div>-->
<!--            <br/><br/>-->
<!--        </div>-->


{% endfor %}

{% endblock %}
</body>