{% extends 'schedule/base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Szczegóły użytkownika</title>

</head>
<body>

<div class="container" style="max-width:1000px">

    <br>
    <h2 style="text-align:center;">PROFIL UŻYTKOWNIKA</h2>
    <br>
    {% for i in selected_user %}
<div class="row gutters" >
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="card h-200" style="text-align:center;">
	<div class="card-body">
		<div class="row gutters">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="first_name">Imię:</label>
                    <h4 id="first_name">{{i.first_name}}</h4>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="last_name">Nazwisko:</label>
                    <h4 id="last_name">{{i.last_name}}</h4>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="email">E-mail:</label>
                    <h4 id="email">{{i.email}}</h4>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="username">Nazwa użytkownika:</label>
                    <h4 id="username">{{i.username}}</h4>
				</div>
			</div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="date_joined">Data i czas rejestracji:</label>
                    <h4 id="date_joined">{{i.date_joined}}</h4>
				</div>
			</div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="last_login">Data i czas ostaniego logowania:</label>
                    <h4 id="last_login">{{i.last_login}}</h4>
				</div>
			</div>
		</div>
	</div>
</div>
		{% endfor %}


		<br><br>

    <h2 style="text-align:center;">PROWADZONE SPOTKANIA</h2>
    <br>

    {% for i in events %}
<div class="row gutters" >
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
    		<h4 class="card-header"><img class="rounded-circle" src="/media/{{i.icon}}" alt="" width="50" height="50">   {{i.title}} </h4>
    		<br>
       		 <h5 class="card-text" id="like_count">Opis: {{ i.description }}</h5><br>
		</div>
	</div>
</div>
		<br><br>
	{% endfor %}

	    <h2 style="text-align:center;">ZGŁOSZONE TEMATY</h2>
    <br>
    {% for i in subjects %}
<div class="row gutters" >
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
    		<h4 class="card-header">{{i.title}}</h4>
    		<br>
       		 <h5 class="card-text" id="like_count">Opis: {{ i.description }}</h5><br>
		</div>
	</div>
</div>
		<br>
	{% endfor %}

		<br><br>




</body>
</html>
{% endblock %}