version: "3.3"

services:

  rabbitmq:
    container_name: rabbitmq
    hostname: rabbitmq
    image: rabbitmq:latest
    ports:
      - "5672:5672"
    restart: on-failure



  organize-application:
    build: .
    command: >
      sh -c "sleep 30 &&
             python manage.py makemigrations &&
             python manage.py makemigrations schedule &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:80"
    container_name: organize-application
    environment:
      CELERY_BROKER: "amqp://guest:guest@rabbitmq:5672//"
    depends_on:
      - mysql
      - rabbitmq
    ports:
      - "80:80"
    restart: on-failure
    volumes:
      - .:/usr/src/organize-application/scheduler_project
      
  mysql:
    container_name: mysql
    image: mysql
    ports:
      - '3306:3306'
    command: --default-authentication-plugin=mysql_native_password
    environment:
         - MYSQL_DATABASE=scheduler_database
         - MYSQL_ROOT_PASSWORD=schedulerdbroot
         - MYSQL_USER=schedulerdbuser
         - MYSQL_PASSWORD=schedulerdbpass
        
  phpmyadmin:
    container_name: phpmyadmin 
    image: phpmyadmin
    restart: always
    ports:
      - 8181:80
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: schedulerdbroot

  celery_worker:
    build: .
    command: >
      sh -c "sleep 40 &&
             cd /usr/src/organize-application/scheduler_project &&
             celery -A scheduler_project worker -l info --pool=solo"
    container_name: celery_worker
    environment:
      CELERY_BROKER: "amqp://guest:guest@rabbitmq:5672//"
      MYSQL_USER: schedulerdbuser
      MYSQL_PASSWORD: schedulerdbpass
    depends_on:
      - organize-application
      - mysql
      - rabbitmq
    hostname: celery_worker
    restart: on-failure
    volumes:
      - .:/usr/src/organize-application/scheduler_project

  celery_beat:
    build: .
    command: >
      sh -c "sleep 50 &&
             cd /usr/src/organize-application/scheduler_project &&
             celery -A scheduler_project beat -l INFO"
    container_name: celery_beat
    environment:
      CELERY_BROKER: "amqp://guest:guest@rabbitmq:5672//"
      MYSQL_USER: schedulerdbuser
      MYSQL_PASSWORD: schedulerdbpass
    depends_on:
      - organize-application
      - mysql
      - rabbitmq
    hostname: celery_beat
    restart: on-failure
    volumes:
      - .:/usr/src/organize-application/scheduler_project
