amqp==5.0.6
anyjson==0.3.3
asgiref==3.3.2
billiard==3.6.4.0
celery
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
Django==3.2
django-celery-beat
django-crispy-forms==1.11.2
django-timezone-field==4.1.2
django-vote==2.2.0
django-storages[google]
django-mathfilters
djangorestframework==3.8.2
greencache==1.0.0
htmq==1.0.0
idna==2.10
kombu==5.0.2
prompt-toolkit==3.0.18
pycryptodome
PyMySQL==1.0.2
python-crontab==2.5.1
python-dateutil==2.8.1
psycopg2-binary>=2.8
pytz==2021.1
redcmd==1.2.10
redlib==1.5.7
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
vote==1.0.2
vine
wcwidth==0.2.5
zope.interface==5.3.0
